body {
  background-color: rgba(60, 50, 118, 0.812);
  margin: 0%;
  overflow-x: hidden;
}

/* 
.wel{
    font-size: 2rem;
    width: 40%;
    margin-left: 2%;
   margin-top: 5%;
   position: absolute;
   transition: 2s;  
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;

} */

/* DEMO-SPECIFIC STYLES */
.wel {
  color: #000000;
  font-family: Georgia;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 166, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin-left: -16%; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.11em; /* Adjust as needed */

  margin-top: 3%;
  font-size: 1rem;
  position: absolute;
  animation: typing 3.5s steps(40, end), blink-caret 0.8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 33%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
  }
}

h1 {
  color: white;
  margin-left: 5%;
  /* padding: 1%; */
  margin-top: 1.3%;
  font-family: "Courier New", Courier, monospace;
}
.userimg {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin-left: 5%;
}
#comp {
  background-color: gainsboro;
  height: max-content;
  width: 32%;
  /* display: flex; */
  /* text-align: center; */
  margin-left: 35%;
  margin-top: 5%;
  padding-top: 2%;

  border-radius: 30px;
  padding-bottom: 2%;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.icon {
  height: 30px;
  width: 30px;

  /* position: absolute; */
  /* margin-left: 15%; */
}
.iconset {
  margin-top: -6.5%;
  margin-left: 25%;
  position: absolute;
}
/*
img{
    margin-left:  20px;
    border-radius: 10px;
    float: left;
    margin-right: 15px;
    height: 30px;

}*/

.text-box {
  color: rgba(0, 0, 0, 0.993);
  font-size: 16px;
  margin-left: 2%;
  margin-top: 1%;
  font-family: cursive;
}
.firstclass {
  background-color: rgba(60, 50, 118, 0.812);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 13%;
}
.firstmarg {
  margin-left: 5%;
}
.firstmarg p {
  color: aliceblue;
  font-size: 20px;
  font-family: Trebuchet MS;
}
.firstmarg h2 {
  color: aliceblue;
  font-size: 2rem;
  font-family: Georgia;
}
#hide {
  background-color: rgb(24, 0, 82);
  width: max-content;
  padding: 7px;
  width: max-content;
  margin-left: 5%;
  font-size: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}
#opn {
  background-color: rgb(24, 0, 82);
  width: max-content;
  padding: 7px;

  margin-left: 35%;
  border-radius: 20px;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

#link {
  background-color: rgb(24, 0, 82);
  margin-bottom: 10px;
  width: 100%;
  padding: 0.1%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 1%;
  height: max-content;
  padding-bottom: 5%;
}
#link h3 {
  font-size: 20px;
  margin-left: 3%;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.daily {
  background-color: rgba(60, 50, 118, 0.812);
  width: 70%;
  margin-left: 5%;
  border-radius: 30px;
  margin-right: 5%;
}
.svg {
  height: 30px;
  width: 30px;
  margin-left: 43%;
  margin-top: 5%;
}
button{
  cursor: pointer;
}
.daily button {
  background-color: rgb(24, 0, 82);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  margin-left: 18%;
  margin-top: 10%;
  padding: 8px;
  margin-bottom: 10%;
  border-radius: 20px;
  width: max-content;
}
.float {
  display: flex;
}

.manage {
  background-color: rgba(60, 50, 118, 0.812);
  width: 70%;
  margin-left: 2%;
  margin-top: 0%;
  border-radius: 30px;
  margin-right: 5%;
}

.manage button {
  background-color: rgb(24, 0, 82);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  margin-left: 18%;
  margin-top: 10%;
  padding: 8px;
  margin-bottom: 9%;
  border-radius: 20px;
}

.Chat {
  background-color: rgba(60, 50, 118, 0.812);
  width: 70%;
  margin-left: 5%;
  border-radius: 30px;
  margin-right: 5%;
  margin-top: 5%;
}

.chat button {
  background-color: rgb(24, 0, 82);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  margin-left: 30%;
  margin-top: 10%;
  padding: 8px;
  margin-bottom: 9%;
  border-radius: 20px;
}

.act {
  background-color: rgba(60, 50, 118, 0.812);
  width: 70%;
  margin-left: 2%;
  margin-top: 5%;
  border-radius: 30px;
  margin-right: 5%;
}
.act button {
  background-color: rgb(24, 0, 82);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  margin-left: 25%;
  margin-top: 10%;
  padding: 8px;
  margin-bottom: 9%;
  border-radius: 20px;
}

.money {
  background-color: rgba(60, 50, 118, 0.812);
  width: 70%;
  margin-left: 5%;
  border-radius: 30px;
  margin-right: 2%;
  margin-top: 5%;
}
.money button {
  background-color: rgb(24, 0, 82);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  margin-left: 20%;
  margin-top: 10%;
  padding: 8px;
  margin-bottom: 9%;
  border-radius: 20px;
}

.recMoney {
  background-color: rgba(60, 50, 118, 0.812);
  width: 70%;
  margin-left: 5%;
  border-radius: 30px;
  margin-right: 5%;
  margin-top: 5%;
}
.recMoney button {
  background-color: rgb(24, 0, 82);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  margin-left: 20%;
  margin-top: 10%;
  padding: 8px;
  margin-bottom: 9%;
  border-radius: 20px;
}

.Third {
  display: flex;
  margin-left: -3%;
  width: max-content;
}
.icon1 {
  height: 30px;
  width: 100%;
  margin-left: 10%;
  transition: 1s;
}

.last {
  flex-direction: row;
  margin-top: 10%;
  margin-left: -8%;
  font-size: 1rem;
  /* transition: 2s; */
  color: rgb(24, 0, 82);
  text-decoration: none;
  /* padding: 8px; */
}
.Third a:hover {
  background-color: rgb(24, 0, 82);
  color: white;
  transition: 1s;
  padding: 6px;
}

@media screen and (max-width: 1247px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 37%;
    margin-left: 32%;
  }

  .iconset {
    margin-top: -8%;
    margin-left: 29%;
    position: absolute;
  }
  .icon {
    height: 36px;
    width: 35px;
  }
}
@media (max-width: 1169px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 39%;
    margin-left: 30%;
  }
  .iconset {
    margin-top: -9%;
    margin-left: 31%;
    position: absolute;
  }
}
@media (max-width: 1110px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 41%;
    margin-left: 30%;
  }
}
@media (max-width: 1059px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 43%;
    margin-left: 28%;
  }
  .iconset {
    margin-top: -10%;
    margin-left: 33%;
    position: absolute;
  }
}
@media (max-width: 1017px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 46%;
    margin-left: 28%;
  }
  .iconset {
    margin-top: -10%;
    margin-left: 35%;
    position: absolute;
  }
}
@media (max-width: 958px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 49%;
    margin-left: 27%;
  }
  .iconset {
    margin-top: -11%;
    margin-left: 37%;
    position: absolute;
  }
}
@media (max-width: 886px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 53%;
    margin-left: 23%;
  }
  .iconset {
    margin-top: -12%;
    margin-left: 40%;
    position: absolute;
  }
}
@media (max-width: 817px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 56%;
    margin-left: 23%;
  }
  .iconset {
    margin-top: -13%;
    margin-left: 45%;
    position: absolute;
  }
}
@media (max-width: 769px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 58%;
    margin-left: 22%;
  }
  .iconset {
    margin-top: -13%;
    margin-left: 45%;
    position: absolute;
  }
}
@media (max-width: 743px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 60%;
    margin-left: 19%;
  }
  .iconset {
    margin-top: -14%;
    margin-left: 46%;
    position: absolute;
  }
}

@media (max-width: 724px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 64%;
    margin-left: 15%;
  }
  .iconset {
    margin-top: -15%;
    margin-left: 50%;
    position: absolute;
  }
  /* #comp1 {
        background-color: rgb(24, 0, 82);
        height: 10%;
        width: 100%;
        position: fixed;
        margin-top: -11%;
        z-index: 1;
    } */
}
@media (max-width: 672px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 69%;
    margin-left: 15%;
    /* margin-top: 10%; */
  }
  .iconset {
    margin-top: -16%;
    margin-left: 55%;
  }
}
@media (max-width: 626px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 70%;
    margin-left: 15%;
    /* margin-top: 10%; */
  }
  .iconset {
    display: flex;
    margin-top: -16%;
    margin-left: 57%;
  }
}
@media (max-width: 620px) {
  #comp {
    background-color: gainsboro;
    height: max-content;
    width: 100%;
    /* display: flex; */
    /* text-align: center; */
    margin-left: 0%;
    /* margin-top: 15%;     */
    padding-top: 2%;
    border-radius: 0px;
    padding-bottom: 2%;
  }
  .iconset {
    display: flex;
    margin-top: -17%;
    margin-left: 75%;
  }
  #comp1 {
    background-color: rgb(24, 0, 82);
    height: max-content;
    width: 100%;
    position: fixed;
    margin-top: -10%;
    z-index: 1;
  }
  .Third {
    display: flex;
    margin-left: 2%;
    width: max-content;
  }
  .icon1 {
    height: 30px;
    width: 100%;
    margin-left: 15%;
    transition: 1s;
  }
  .icon {
    height: 40px;
    width: 54px;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 4%;
  }

  .firstmarg {
    margin-left: 5%;
    margin-top: -4%;
  }
  #opn {
    background-color: rgb(24, 0, 82);
    width: max-content;
    padding: 14px;
    margin-left: 100%;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .manage button {
    background-color: rgb(24, 0, 82);
    font-size: 15px;
    margin-left: 23%;
  }
  .act button {
    background-color: rgb(24, 0, 82);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    margin-left: 29%;
  }
  .daily button {
    margin-left: 24%;
  }
  .chat button {
    margin-left: 34%;
  }
  .money button {
    margin-left: 27%;
  }
  .recMoney button {
    margin-left: 25%;
  }
}
@media (max-width: 571px) {
  #comp {
    width: 110%;
  }
  h1 {
    color: white;
    margin-left: 5%;
    /* padding: 1%; */
    margin-top: 3.3%;
    font-family: "Courier New", Courier, monospace;
  }
  .iconset {
    display: flex;
    margin-top: -18%;
    margin-left: 85%;
    position: absolute;
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 4%;
  }
  #opn {
    background-color: rgb(24, 0, 82);
    width: max-content;
    padding: 14px;
    margin-left: 113%;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
  }
}
@media (max-width: 533px) {
  .iconset {
    display: flex;
    margin-top: -19%;
    margin-left: 85%;
    position: absolute;
  }
  #opn {
    margin-left: 85%;
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 7%;
  }
  .Third {
    display: flex;
    margin-left: -3%;
    width: max-content;
  }
}
@media (max-width: 519px) {
  .wel {
  
    margin-left: -20%; /* Gives that scrolling effect as the typing happens */
   
  }
}

@media (max-width: 483px) {
  #comp {
    width: 120%;
  }

  .iconset {
    display: flex;
    margin-top: -19%;
    /* margin-left: 90%; */
    position: absolute;
  }
  #opn {
    margin-left: 80%;
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 7%;
  }
  .Third {
    display: flex;
    margin-left: -3%;
    width: max-content;
  }
  .wel {
    margin-left: -25%;
}
}
@media (max-width: 440px) {
  #comp {
    width: 120%;
  }

  .iconset {
    display: flex;
    margin-top: -20%;
    margin-left: 90%;
  }
  #opn {
    margin-left: 70%;
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 7%;
  }
  .icon1 {
    height: 30px;
    width: 100%;
    margin-left: 13%;
    transition: 1s;
  }
  h1 {
    color: white;
    margin-left: 5%;
    /* padding: 1%; */
    margin-top: 5.3%;
    font-family: "Courier New", Courier, monospace;
  }
  .wel {
    margin-left: -29%;
}
  /* .Third {
        display: flex;
        margin-left: -8%;
    } */

  /* .icon1 {
   
        margin-left: 50%;

    } */
}
@media (max-width: 414px) {
  #comp {
    width: 130%;
  }
  /* #opn {
        margin-left: 55%;
    } */
  .flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 9%;
  }
  .iconset {
    display: flex;
    margin-top: -23%;
    margin-left: 90%;
  }
  .wel {
    margin-left: -34%;
}
  /* .icon1 {
        height: 30px;
        width: 100%;
        margin-left: 12%;
        transition: 1s;
    } */
}
@media (max-width: 380px) {
  #opn {
    margin-left: 55%;
  }
  .icon1 {
    height: 30px;
    width: 100%;
    margin-left: 12%;
    transition: 1s;
  }
}
@media (max-width: 364px) {
  #opn {
    margin-left: 48%;
  }
  .icon1 {
    height: 30px;
    width: 100%;
    margin-left: 10%;
    transition: 1s;
  }
  .wel {
    margin-left: -42%;
}

}
@media (max-width: 336px) {
  #comp {
    width: 160%;
  }
  #opn {
    margin-left: 40%;
  }
  .icon1 {
    height: 30px;
    width: 100%;
    margin-left: 10;
    transition: 1s;
  }

  .last {
    margin-top: 10%;
    margin-left: -15%;
  }


}
@media (max-width: 335px) {
  #comp {
    width: 165%;
  }
  #opn {
    margin-left: 64%;
  }
  .icon1 {
    height: 30px;
    width: 100%;
    margin-left: 16px;
    transition: 1s;
  }
  .Third {
    display: flex;
    margin-left: 0%;
    width: max-content;
  }
  .icon {
    height: 40px;
    width: 54px;
    margin-left: 133%;
    margin-top: -19px;
  }

  .last {
    margin-top: 10%;
    margin-left: -15%;
  }
}
@media (max-width: 317px) {
  #comp {
    width: 175%;
  }
  .iconset {
    display: flex;
    margin-top: -23%;
    margin-left: 100%;
  }
  #opn {
    margin-left: 75%;
  }
}
@media (max-width: 300px) {
  #comp {
    width: 180%;
  }
  .iconset {
    display: flex;
    margin-top: -23%;
    margin-left: 110%;
  }
  #opn {
    margin-left: 75%;
  }
  h1 {
    color: white;
    margin-left: 5%;
    /* padding: 1%; */
    margin-top: 7.3%;
    font-family: "Courier New", Courier, monospace;
  }
}
@media (max-width: 280px) {
  #comp {
    width: 195%;
  }
  .iconset {
    display: flex;
    margin-top: -23%;
    margin-left: 115%;
  }
}
@media (max-width: 263px) {
  #comp {
    width: 200%;
  }
  .iconset {
    display: flex;
    margin-top: -23%;
    margin-left: 120%;
  }
}
@media (max-width: 252px) {
  #comp {
    width: 220%;
  }
  #opn {
    margin-left: 80%;
  }
  .iconset {
    display: flex;
    margin-top: -30%;
    margin-left: 130%;
  }
}
@media (max-width: 237px) {
  #comp {
    width: 230%;
  }
  #opn {
    margin-left: 70%;
  }
  .iconset {
    display: flex;
    margin-top: -30%;
    margin-left: 130%;
  }
}
@media (max-width: 220px) {
  #comp {
    width: 240%;
  }
  #opn {
    margin-left: 67%;
  }
  .iconset {
    display: flex;
    margin-top: -30%;
    margin-left: 130%;
  }
}
@media (max-width: 206px) {
  #comp {
    width: 250%;
  }
  #opn {
    margin-left: 65%;
  }
  .iconset {
    display: flex;
    margin-top: -30%;
    margin-left: 130%;
  }
}
